@import "tailwindcss";

nav {
  width: 100%;
  position: fixed;
  top: 0;
}

nav a {
  font-weight: 500;
  color: #505050;
  text-decoration: none;
}

.nav-list {
  list-style: none;
  margin: 0 auto;
  padding: 0 2em;
  display: flex;
  align-items: center;
}

#nav-links {
  margin-left: auto;
}

#nav-links a {
  display: inline-block;
  margin: 0;  
  padding: 1em;
}
